*,
html {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0px 0px 0px 0px;
}

p {
  margin: 0;
  padding: 0;
}

main {
  z-index: 0;
  position: relative;
}

.display-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}