/* CONTAINER */
.third-content {
  background-color: #fff;
  padding: 30px 160px 50px 160px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.20);
}

/* IMAGES */
.img-thirdcontent {
  display: inline-block;
  margin-right: 50px;
}

.img-thirdcontent img {
  position: relative;
}

/* ABOUT INFORMATION */
.information-aboutus {
  width: 750px;
}

.best-info {
  font-weight: bold;
  font-size: 40px;
  color: rgb(0, 59, 126);
  margin-bottom: 10px;
}

.restaurant-info {
  line-height: 25px;
}

.benefit-info {
  margin-top: 20px;
  margin-bottom: 30px;
}

.benefit-info ul {
  list-style-type: none;
  display: flex;
  flex-direction: row
}

.benefit-info ul li {
  margin-right: 60px;
  background-color: rgba(224, 224, 224, 0.424);
  padding: 13px 22px;
  border: 2px solid #000;
  border-radius: 4px;
}

.ikon {
  margin-right: 10px;
  font-size: 20px;
  color: rgb(0, 136, 0);
}

.link-sction {
  position: relative;
}

.third-content a {
  text-decoration: none;
  color: #fff;
  background-color: rgb(0, 59, 126);
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.40s;
}

.third-content a:hover {
  background-color: rgb(0, 136, 0);
}